# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

src/.config
src/.config.old
src/.version
toolchains/gcc-*
src/include/generated/*.h
src/.tmp_*
src/arch/*/boot/Image
src/arch/*/kernel/asm-offsets.s
src/arch/*/kernel/vmlinux.lds
src/kernel/bounds.s
src/scripts/mod/devicetable-offsets.s
src/vmlinux
