config IRQCHIP
        def_bool y

config ARM_GIC
        bool
        select IRQ_DOMAIN
        select IRQ_DOMAIN_HIERARCHY
        select MULTI_IRQ_HANDLER

config ARM_GIC_V3
        bool
        select IRQ_DOMAIN
        select MULTI_IRQ_HANDLER
        select IRQ_DOMAIN_HIERARCHY

